@model IEnumerable<WDsite.Models.Bilet_table>
@{
    ViewBag.Title = "bilet_search";

    IEnumerable<WDsite.Models.Bilet_table> list2 = ViewData["list2"] as IEnumerable<WDsite.Models.Bilet_table>;
}



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style/flight2.css">
</head>


<body style="margin:0px">

    <div class="flight">
        <div class="flight-search">
            <div class="flight-search-column">
                <div class="flight-search-block">
                    <p class="flight-search-city">@ViewData["from"]</p>
                    <img src="~/Content/img/flight/Arrows-yellow.svg" style="margin: -7px 7px 0 7px;">
                    <p class="flight-search-city">@ViewData["to"]</p>
                </div>

                <div class="flight-search-block">
                    <p class="flight-search-type">В обидві сторони</p>
                    <img src="~/Content/img/flight/Ellipse-yellow.svg" style="margin: 0px 15px;">
                    <p class="flight-search-type">@ViewData["from_date"]-@ViewData["to_date"]</p>
                    <img src="~/Content/img/flight/Ellipse-yellow.svg" style="margin: 0px 15px">
                    <p class="flight-search-type">1</p>
                    <img src="~/Content/img/flight/User-filled.svg" style="margin: 0px 2px;">
                </div>
            </div>

            @*<div class="flight-search-column">
                <p class="flight-search-edit">Редагувати пошуковий запит</p>
            </div>*@
        </div>

        <div class="flight-flights">
            <p class="flight-flights-title" style="margin-top: 130px">Виліт з @ViewData["from"] до @ViewData["to"]</p>
            <div class="block1">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        System.TimeSpan? d = item.date_to - item.date_from;
                        <div class="flight-flights-ticket">
                            <img src="~/Content/img/flight/AirVista-logo.svg" style="margin: 50px 0 50px 30px; min-height:33px;">

                            <div class="flight-flights-line"></div>

                            <div class="flight-flights-block" style="margin-right: 160px;">
                                <p class="flight-flights-time">@item.date_from.Value.ToString("t")</p>
                                <p class="flight-flights-location">@item.Countries_table.Redu</p>
                            </div>

                            <div class="flight-flights-block" style="margin-top: 15px;">
                                <p class="flight-flights-travelinfo" style="margin-top: 15px; margin-left: 125px">@d</p>
                                <img src="~/Content/img/flight/One-plane-right.svg" />
                                <p class="flight-flights-travelinfo" style="margin-left: 140px">@item.type</p>
                            </div>

                            <div class="flight-flights-block" style="margin-left: 160px;">
                                <p class="flight-flights-time">@item.date_to.Value.ToString("t")</p>
                                <p class="flight-flights-location">@item.Countries_table1.Redu</p>
                            </div>

                            <div class="flight-flights-line"></div>

                            <div class="flight-flights-block">
                                <p class="flight-flights-tariff">Тариф Basic</p>
                                <div class="flight-flights-column">
                                    <p class="flight-flights-oldprice">₴ <span style="text-decoration: line-through;">15,699.99</span></p>
                                    <p class="flight-flights-hotprice">₴ @item.price.Value.ToString("#,##0.00")</p>
                                </div>
                                <p data-value=@item.id class="flight-flights-buy type1">Обрати</p>
                            </div>

                        </div>
                    }
                }
                else
                {
                    <p class="flight-flights-buy">По фашому запиту нічого не знайдено</p>
                }

            </div>
            <p class="flight-flights-title">Виліт з @ViewData["to"] до @ViewData["from"]</p>
            <div class="block2">
                @if (list2 != null)
                {
                    foreach (var item in list2)
                    {
                        System.TimeSpan? d = item.date_to - item.date_from;
                        <div class="flight-flights-ticket">
                            <img src="~/Content/img/flight/AirVista-logo.svg" style="margin: 50px 0 50px 30px">

                            <div class="flight-flights-line"></div>

                            <div class="flight-flights-block" style="margin-right: 160px;">
                                <p class="flight-flights-time">@item.date_from.Value.ToString("t")</p>
                                <p class="flight-flights-location">@item.Countries_table.Redu</p>
                            </div>

                            <div class="flight-flights-block" style="margin-top: 15px;">
                                <p class="flight-flights-travelinfo" style="margin-top: 15px; margin-left: 125px">@d</p>
                                <img src="~/Content/img/flight/One-plane-right.svg" />
                                <p class="flight-flights-travelinfo" style="margin-left: 140px">@item.type</p>
                            </div>

                            <div class="flight-flights-block" style="margin-left: 160px;">
                                <p class="flight-flights-time">@item.date_to.Value.ToString("t")</p>
                                <p class="flight-flights-location">@item.Countries_table1.Redu</p>
                            </div>

                            <div class="flight-flights-line"></div>

                            <div class="flight-flights-block">
                                <p class="flight-flights-tariff">Тариф Basic</p>
                                <div class="flight-flights-column">
                                    <p class="flight-flights-oldprice">₴ <span style="text-decoration: line-through;">15,699.99</span></p>
                                    <p class="flight-flights-hotprice">₴ @item.price.Value.ToString("#,##0.00")</p>
                                </div>
                                <p data-value=@item.id class="flight-flights-buy type2">Обрати</p>
                            </div>

                        </div>

                    }
                }
                else
                {
                    <p class="flight-flights-buy">По фашому запиту нічого не знайдено</p>
                }
            </div>

            <div class="flight-flights-block" style="display: flex; border: 2px dashed #B5B5B5; border-radius: 12px; margin-bottom: 20px;">
                <img src="~/Content/img/flight/Info-blue.svg" style="margin-right: 4px; margin-top: -15px; margin-left: 4px">
                <p class="flight-flights-about">Безкоштовна онлайн-реєстрація. Якщо ви не скористаєтеся безкоштовною онлайн-реєстрацією або якщо вона не включена у вартість рейсу, за реєстрацію в аеропорту стягуватиметься збір у розмірі €50 або еквівалент у місцевій валюті.</p>
            </div>
            <form style="display:flex; justify-content:center; margin-bottom:50px; margin-top:10px;" id="myForm" method="post" action="/home/choose_tariff">
                <input type="hidden" id="hiddenInput1" name="hiddenValue1" value="">
                <input type="hidden" id="hiddenInput2" name="hiddenValue2" value="">
                <button style="display:none;width:600px" id="submitButton" type="submit" class="flight-flights-buy">Підтвердити вибір білетів</button>
            </form>
        </div>

            <div class="flight-promo">
                <div class="flight-promo-column">
                    <p class="flight-promo-title">Не проґавте <span style="color: #F8AB12">акційні квитки</span> від AirVista.*</p>
                    <p class="flight-promo-subtitle">*Ви можете скасувати підписку будь-коли.</p>
                </div>

                <div class="flight-promo-column" style="margin-top: 30px; margin-left: 0;">
                    <div class="flight-promo-block">
                        <img src="~/Content/img/flight/Check-blue.svg">
                        <p class="flight-promo-possibilities">Першими дізнавайтесь про розпродаж місць.</p>
                    </div>

                    <div class="flight-promo-block">
                        <img src="~/Content/img/flight/Check-blue.svg">
                        <p class="flight-promo-possibilities">Отримуйте розродажі авіаквитків та акції прямо у свою почтову скриньку.</p>
                    </div>

                    <div class="flight-promo-block">
                        <img src="~/Content/img/flight/Check-blue.svg">
                        <p class="flight-promo-possibilities">Дізнавайтеся про нові маршрути та напрямки.</p>
                    </div>
                </div>

                <div class="flight-promo-column" style="margin-bottom: 50px;">
                    <div class="flight-promo-block" style="margin-bottom: -20px;">
                        <input type="email" placeholder="Електронна пошта" class="flight-promo-email">
                        <p class="flight-promo-register">Реєстрація</p>
                    </div>

                    <div class="flight-promo-block">
                        <label class="orange-checkbox-container"><input type="checkbox" style="margin-top: 15px;"><span class="checkmark"></span></label>
                        <p class="flight-promo-possibilities" style="margin-top: 15px;">Реєструючись, ви підтверджуєте, що приймаєте нашу</p>
                    </div>

                    <p class="flight-promo-politics">Політику конфіденційності</p>
                </div>
            </div>
        </div>


</body>
<script>
    const buttons = document.querySelectorAll('.flight-flights-buy');
    const submitButton = document.getElementById('submitButton');

    buttons.forEach(button => {
        button.addEventListener('click', function () {
            const value = this.getAttribute('data-value');

            if (this.classList.contains('type1')) {
                document.getElementById('hiddenInput1').value = value;
            } else if (this.classList.contains('type2')) {
                document.getElementById('hiddenInput2').value = value;
            }

            if (document.getElementById('hiddenInput1').value && document.getElementById('hiddenInput2').value) {
                submitButton.style.display = 'inline-block';
            } else {
                submitButton.style.display = 'none';
            }
        });
    });


    /*------------ animation-----------*/
    document.addEventListener('DOMContentLoaded', function () {
        const block1 = document.querySelector('.block1');
        const block2 = document.querySelector('.block2');

        toggleBlock(block1);
        toggleBlock(block2);

        function toggleBlock(block) {
            const tickets = block.querySelectorAll('.flight-flights-ticket');
            const buttons = block.querySelectorAll('.flight-flights-buy');

            buttons.forEach((button, index) => {
                button.addEventListener('click', function () {
                    const ticket = tickets[index];
                    const isActive = button.classList.contains('active');

                    if (!isActive) {
                        tickets.forEach((t, i) => {
                            if (i !== index) {
                                hideTicket(t);
                            }
                        });
                        //showTicket(ticket);
                        button.classList.add('active');
                        button.style.backgroundColor = '#FFA500'; // Изменение цвета кнопки на оранжевый
                        button.innerText = 'Обране'; // Изменение текста на кнопке на "Обране"
                    } else {
                        tickets.forEach((t) => showTicket(t));
                        button.classList.remove('active');
                        button.style.backgroundColor = '#116380'; // Возврат цвета кнопки на изначальный
                        button.innerText = 'Обрати'; // Возврат текста на кнопке на "Обрати"

                        // Очистка соответствующего hiddenInput в зависимости от блока
                        const hiddenInput = block === block1 ? document.getElementById('hiddenInput1') : document.getElementById('hiddenInput2');
                        hiddenInput.value = '';

                        if (document.getElementById('hiddenInput1').value && document.getElementById('hiddenInput2').value) {
                            submitButton.style.display = 'inline-block';
                        } else {
                            submitButton.style.display = 'none';
                        }
                    }
                });
            });
        }

        function showTicket(ticket) {

            ticket.style.transition = "1s ease";
            ticket.style.margin = "0px 0px 50px 0px"
            ticket.classList.remove('closed');
            ticket.style.height = "133px"

        }

        function hideTicket(ticket) {
            ticket.classList.add('closed');
            ticket.style.margin = "0px";
            ticket.style.transition = "1s ease";
            ticket.style.height = "0px";
        }
    });
</script>
