
@{
    ViewBag.Title = "choose_place";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/style/choose_place.css">
 
</head>

<div class="page-payment-method">
    <p>Виліт</p>
    <img src="~/Content/img/choose_place/flight-img/line.svg" style="padding-right: 20px;">
    <p>Вибір тарифа</p>
    <img src="~/Content/img/choose_place/flight-img/line.svg" style="padding-right: 20px;">
    <p>Ввести дані</p>
    <img src="~/Content/img/choose_place/flight-img/line.svg" style="padding-right: 20px;">
    <p><b>Обрати місце</b></p>
    <img src="~/Content/img/choose_place/flight-img/line.svg" style="padding-right: 20px;">
    <p>Додати спосіб оплати</p>
</div>

<div class="container-choose-place">
    <div class="seat-selection">
        <div style="padding-bottom: 40px; padding-left: 40px; padding-top: 20px;">
            <p class="seat-selection-choice">Вибір сидіння</p>
            <p class="seat-selection-passenger">Пасажири</p>

            <div class="user-info">
                <div class="img-user">
                    <img src="~/Content/img/choose_place/user-icon.svg">
                    <p>AM</p>
                </div>
                <p class="user-info-username">Alice Mcroyt</p>
            </div>

            <p class="seat-selection-minitext" style="padding-top: 20px;">
                Наші сидіння з найкращим співвідношенням
                ціни і якості.
            </p>
            <p class="seat-selection-minitext">
                Зареєструйтесь за 60 днів до вильоту.
            </p>
        </div>

        <div class="choose-place">
            <div class="choose-place-plane">
                <div>
                    <div class="choose-place-img">
                        <img src="~/Content/img/choose_place/plane-right.svg" style="width: 24px; height: 24px;">
                        <p class="choose-place-miniside"><b>@ViewData["from1"]</b> - <b>@ViewData["to1"]</b></p>
                    </div>

                    <div id="area1" class="choose-place-ticket" onclick="toggleArea(1)">
                        <div class="ticket-group">
                            <img src="~/Content/img/choose_place/yellow-ticket.svg">
                            <p class="ticket-text" id="ticketName1"></p>
                        </div>

                        <p class="choose-place-ticket-price" id="ticketPrice1"></p>
                    </div>
                </div>

                <div>
                    <div class="choose-place-img">
                        <img src="~/Content/img/choose_place/plane-left.svg" style="width: 24px; height: 24px;">
                        <p class="choose-place-miniside"><b>@ViewData["from2"]</b> - <b>@ViewData["to2"]</b></p>
                    </div>

                    <div id="area2" class="choose-place-ticket" onclick="toggleArea(2)"
                         onclick="toggleActive('right')">
                        <div class="ticket-group">
                            <img src="~/Content/img/choose_place/yellow-ticket.svg">
                            <p class="ticket-text" id="ticketName2"></p>
                        </div>

                        <p class="choose-place-ticket-price" id="ticketPrice2"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="seat-selection-down"></div>
    </div>

    <div class="container-place">

        <img src="~/Content/img/choose_place/rectangle-left.svg" class="first-rectangle-left">

        <img src="~/Content/img/choose_place/right-rectangle.svg" class="first-rectangle-right">

        <p class="container-place-price-info">Місця з додатковим простором для ніг <b>€ 30</b></p>

        <div class="grid-container30-1">
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="1A" data-price="30">
                    <p class="ticket-text" id="ticket-text-right">A</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="1B" data-price="30">
                    <p class="ticket-text" id="ticket-text-right">B</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/yellow-ticket.svg">
                    <p class="ticket-text" id="ticket-text-right">C</p>
                </div>
            </div>

            <div class="grid-item-containet-number">
                <p class="grid-item-number">1</p>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="1D" data-price="30">
                    <p class="ticket-text" id="ticket-text-right">D</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/yellow-ticket.svg">
                    <p class="ticket-text" id="ticket-text-right">E</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="1F" data-price="30">
                    <p class="ticket-text" id="ticket-text-right">F</p>
                </div>
            </div>
        </div>

        <p class="container-place-price-info" style="margin-top: 80px;">
            Місця з додатковим простором для ніг <b>
                €
                19
            </b>
        </p>

        <div class="grid-container19-2">
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/yellow-ticket.svg">
                    <p class="ticket-text" id="ticket-text-right">A</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="2B" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">B</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="2C" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">C</p>
                </div>
            </div>

            <div class="grid-item-containet-number">
                <p class="grid-item-number">2</p>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="2D" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">D</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="2E" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">E</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="2F" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">F</p>
                </div>
            </div>
        </div>

        <div class="grid-container19-3">
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="3A" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">A</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="3B" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">B</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/yellow-ticket.svg">
                    <p class="ticket-text" id="ticket-text-right">C</p>
                </div>
            </div>

            <div class="grid-item-containet-number">
                <p class="grid-item-number">3</p>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="3D" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">D</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="3E" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">E</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="3F" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">F</p>
                </div>
            </div>
        </div>

        <div class="grid-container19-4">
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="4A" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">A</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/yellow-ticket.svg">
                    <p class="ticket-text" id="ticket-text-right">B</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="4C" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">C</p>
                </div>
            </div>

            <div class="grid-item-containet-number">
                <p class="grid-item-number">4</p>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="4D" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">D</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="4E" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">E</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/yellow-ticket.svg">
                    <p class="ticket-text" id="ticket-text-right">F</p>
                </div>
            </div>
        </div>

        <div class="grid-container19-4">
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="5A" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">A</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="5B" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">B</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="5C" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">C</p>
                </div>
            </div>

            <div class="grid-item-containet-number">
                <p class="grid-item-number">5</p>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/yellow-ticket.svg">
                    <p class="ticket-text" id="ticket-text-right">D</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="5E" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">E</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="5F" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">F</p>
                </div>
            </div>
        </div>

        <div class="grid-container19-4">
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="6A" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">A</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/yellow-ticket.svg">
                    <p class="ticket-text" id="ticket-text-right">B</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="6C" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">C</p>
                </div>
            </div>

            <div class="grid-item-containet-number">
                <p class="grid-item-number">6</p>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="6D" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">D</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="6E" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">E</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="6F" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">F</p>
                </div>
            </div>
        </div>

        <div class="grid-container19-4">
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="7A" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">A</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="7B" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">B</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="7C" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">C</p>
                </div>
            </div>

            <div class="grid-item-containet-number">
                <p class="grid-item-number">7</p>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="7D" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">D</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="7E" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">E</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="7F" data-price="19">
                    <p class="ticket-text" id="ticket-text-right">F</p>
                </div>
            </div>
        </div>

        <img src="~/Content/img/choose_place/rectangle-left.svg" class="second-rectangle-left">

        <img src="~/Content/img/choose_place/right-rectangle.svg" class="second-rectangle-right">

        <p class="container-place-price-info">
            Місця “Потягнутися за невеликі кошти” <b>
                €
                15
            </b>
        </p>

        <div class="grid-container30-1">
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/yellow-ticket.svg">
                    <p class="ticket-text" id="ticket-text-right">A</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/yellow-ticket.svg">
                    <p class="ticket-text" id="ticket-text-right">B</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="8C" data-price="15">
                    <p class="ticket-text" id="ticket-text-right">C</p>
                </div>
            </div>

            <div class="grid-item-containet-number">
                <p class="grid-item-number">8</p>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="8D" data-price="15">
                    <p class="ticket-text" id="ticket-text-right">D</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="8E" data-price="15">
                    <p class="ticket-text" id="ticket-text-right">E</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/gray-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="8F" data-price="15">
                    <p class="ticket-text" id="ticket-text-right">F</p>
                </div>
            </div>
        </div>

        <div class="grid-container19-4">
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/white-blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="9A" data-price="15">
                    <p class="ticket-text" id="ticket-text-right">A</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/white-blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="9B" data-price="15">
                    <p class="ticket-text" id="ticket-text-right">B</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/white-blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="9C" data-price="15">
                    <p class="ticket-text" id="ticket-text-right">C</p>
                </div>
            </div>

            <div class="grid-item-containet-number">
                <p class="grid-item-number">9</p>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/yellow-ticket.svg">
                    <p class="ticket-text" id="ticket-text-right">D</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/white-blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="9E" data-price="15">
                    <p class="ticket-text" id="ticket-text-right">E</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/white-blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="9F" data-price="15">
                    <p class="ticket-text" id="ticket-text-right">F</p>
                </div>
            </div>
        </div>

        <div class="grid-container19-4">
            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/white-blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="10A"
                         data-price="15">
                    <p class="ticket-text" id="ticket-text-right">A</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/white-blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="10B"
                         data-price="15">
                    <p class="ticket-text" id="ticket-text-right">B</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/white-blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="10C"
                         data-price="15">
                    <p class="ticket-text" id="ticket-text-right">C</p>
                </div>
            </div>

            <div class="grid-item-containet-number">
                <p class="grid-item-number">10</p>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/white-blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="10D"
                         data-price="15">
                    <p class="ticket-text" id="ticket-text-right">D</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/white-blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="10E"
                         data-price="15">
                    <p class="ticket-text" id="ticket-text-right">E</p>
                </div>
            </div>

            <div class="grid-item">
                <div class="ticket-group">
                    <img src="~/Content/img/choose_place/white-blue-ticket.svg" class="visible" onmouseover="changeImage(this)"
                         onmouseout="resetImage(this)" onclick="selectTicket(this)" data-ticket="10F"
                         data-price="15">
                    <p class="ticket-text" id="ticket-text-right">F</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-place-info">
        <div>
            <img src="~/Content/img/choose_place/gray-ticket.svg">
            <p>Не обрані місця</p>
        </div>

        <div>
            <img src="~/Content/img/choose_place/yellow-ticket.svg">
            <p>Обрані місця</p>
        </div>

        <div>
            <img src="~/Content/img/choose_place/blue-ticket.svg">
            <p>Найкращі пропозиції місць спереду</p>
        </div>

        <div>
            <img src="~/Content/img/choose_place/white-blue-ticket.svg">
            <p>Найкращі пропозиції місць ззаду</p>
        </div>
    </div>

</div>

<form class="btn-container" action="/home/choose_place" method="post">
    <input type="hidden" id="value1" name="value1"/>
    <input type="hidden" id="value2" name="value2"/>
    <button onclick="sub()" type="submit" class="btn-next">Далі</button>
</form>

<div class="flight-promo">
    <div class="flight-promo-column">
        <p class="flight-promo-title">
            Не проґавте <span style="color: #F8AB12">акційні квитки</span> від AirVista.*
        </p>
        <p class="flight-promo-subtitle">*Ви можете скасувати підписку будь-коли.</p>
    </div>

    <div class="flight-promo-column" style="margin-top: 30px; margin-left: 0;">
        <div class="flight-promo-block">
            <img src="~/Content/img/choose_place/flight-img/Check-blue.svg">
            <p class="flight-promo-possibilities">Першими дізнавайтесь про розпродаж місць.</p>
        </div>

        <div class="flight-promo-block">
            <img src="~/Content/img/choose_place/flight-img/Check-blue.svg">
            <p class="flight-promo-possibilities">
                Отримуйте розродажі авіаквитків та акції прямо у свою почтову
                скриньку.
            </p>
        </div>

        <div class="flight-promo-block">
            <img src="~/Content/img/choose_place/flight-img/Check-blue.svg">
            <p class="flight-promo-possibilities">Дізнавайтеся про нові маршрути та напрямки.</p>
        </div>
    </div>

    <div class="flight-promo-column" style="margin-bottom: 50px;">
        <div class="flight-promo-block" style="margin-bottom: -20px;">
            <input type="email" placeholder="Електронна пошта" class="flight-promo-email">
            <p class="flight-promo-register">Реєстрація</p>
        </div>

        <div class="flight-promo-block">
            <label class="orange-checkbox-container">
                <input type="checkbox" style="margin-top: 15px;"><span class="checkmark"></span>
            </label>
            <p class="flight-promo-possibilities" style="margin-top: 15px;">
                Реєструючись, ви підтверджуєте, що
                приймаєте нашу
            </p>
        </div>

        <p class="flight-promo-politics">Політику конфіденційності</p>
    </div>
</div>
<script>

        function changeImage(element) {
            if (element.getAttribute('data-clicked') !== 'true') {
                element.setAttribute('data-original-src', element.src); // Сохраняем исходный src
                element.src = '@Url.Content("~/Content/img/choose_place/opacity-yellow.svg")';
            }
        }

        function resetImage(element) {
            if (element.getAttribute('data-clicked') !== 'true') {
                element.src = element.getAttribute('data-original-src');
            }
        }

        let selectedAreas = {};
        let selectedTickets = {};

        function selectTicket(element) {
            // Проверка на наличие хотя бы одного активного поля
            if (!Object.values(selectedAreas).some(value => value === true)) {
                return;
            }

            const ticketNumber = element.getAttribute('data-ticket');
            const ticketPrice = element.getAttribute('data-price');
            const area = Object.keys(selectedAreas).find(area => selectedAreas[area]);

            // Если в этой области уже есть выбранный тикет, сбросить его изображение и статус
            if (selectedTickets[area] && selectedTickets[area] !== element) {
                selectedTickets[area].src = selectedTickets[area].getAttribute('data-original-src');
                selectedTickets[area].setAttribute('data-clicked', 'false');
                selectedTickets[area].classList.remove('selected');
                selectedTickets[area] = null;
            }

            // Переключение изображения тикета
            if (element.getAttribute('data-clicked') === 'true' && !Object.values(selectedTickets).includes(element)) {
                element.src = element.getAttribute('data-original-src');
                element.setAttribute('data-clicked', 'false');
                element.classList.remove('selected');
            } else {
                if (!element.getAttribute('data-original-src')) {
                    element.setAttribute('data-original-src', element.src);
                }
                element.src = '@Url.Content("~/Content/img/choose_place/yellow-ticket.svg")';
                element.setAttribute('data-clicked', 'true');
            }

            // Добавление класса 'selected' к кликнутому тикету
            element.classList.add('selected');

            // Обновление информации о тикете в выбранной области
            if (selectedAreas[area]) {
                document.getElementById(`ticketName${area}`).innerText = `${ticketNumber}`;
                document.getElementById(`ticketPrice${area}`).innerText = `€ ${ticketPrice}`;
                selectedTickets[area] = element;
            }
        }

        function toggleArea(area) {
            // Сначала делаем все области неактивными
            Object.keys(selectedAreas).forEach(area => {
                const areaElement = document.getElementById(`area${area}`);
                areaElement.classList.remove('active');
                selectedAreas[area] = false;
            });

            // Затем активируем выбранную область
            const areaElement = document.getElementById(`area${area}`);
            areaElement.classList.add('active');
            selectedAreas[area] = true;
    }

    function sub() {
        document.getElementById(`value1`).value = document.getElementById(`ticketName1`).innerText
        document.getElementById(`value2`).value = document.getElementById(`ticketName2`).innerText
    }
</script>
